body { 
    font-size: 20px;
	background-color: #bde0fe;
	padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
} 
.wrapper { 
    display: flex;
	gap: 30px;
	align-items: start;
} 
.sidebar { 
    width: 30%;
	border-right: 2px solid #0b0b45;
	border-radius: 15px;
	background-color: #a2d2ff;
	padding-right: 20px;
	position: sticky;
	top: 0;
	margin-left: 30px;
} 

header {
	text-align: center;
	background-color: #cdb4db;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 30px;
	margin-right: 30px;
	border-radius: 10px;
	font-size: 30px;
} 
figure { 
	width: 700px;
	float: left;
} 
img { 
    width: 100%;
} 
section { 
    clear: both;
} 
h2 { 
    background-color: #ffafcc;
	padding-left: 20px;
	border-radius: 15px;
	margin-right: 30px;
	margin-left: 30px;
} 
footer { 
    text-align: center;
} 
a {
	color: #0b0b45;
} 
.gallerywrapper { 
    display: flex;
	gap: 20px;
	flex-wrap: wrap;
} 
.gallerywrapper img { 
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
	vertical-align: bottom;
} 
.gallerywrapper li { 
    height: 40vh;
	flex-grow: 1;
	list-style-type: none;
} 
footer {
	background-color: #ffafcc;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 30px;
	margin-right: 3px;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid black;
	border-radius: 20px;
} 

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.averia-serif-libre-regular {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
}
p {
	margin-left: 30px;
} 
h3{
	margin-left: 30px;